# Configuration file

"client specific" {
    B:"[C67FAE85F_22631c]U Console Loading Info"=true
    B:"[L00EA8154_22631c]U Log Loading Info To Separate File"=false
    B:"[DDFB46E6A_22631c]U Debug Mode"=false
    B:"[DE098D039_22631c]U Disable Renders For Debug"=false
    B:"[SEAB4383E_22631c]U Show TileEntity NBT when using Debug Key"=false
    B:"[I64085A57_22631c]U Increase sound channel count"=true
    B:"[D0122E793_22631c]U Disable Hotbar Swapping"=false
    B:"[L2CD4A356_22631c]U Log errors to chat"=true
    B:"[S1E0F5882_22631c]U Sort Creative Tabs Alphabetically"=true
    B:"[C73A4A322_22631c]U Custom/Donator Renders"=true
    B:"[E93E6954C_22631c]U Enable Temporally Dependent Amusement Behavior"=true
    I:"[P242131BE_22631c]U Particle Limit (Vanilla = 4000)"=4000
    I:"[D1A6EB492_22631c]U Debug Overlay Key (LWJGL ID)"=15
    B:"[DFD285BDB_22631c]U Disable rain sound and particles"=false
    S:"[S1B910439_22631c]U Setting Warning Persistence (EVERYLOAD/SETTINGCHANGE/VERSION/ONCE)"=SETTINGCHANGE
}


"control setup" {
    I:"Sync Packet ID"=182
    B:"Restore Obsidian Blast Resistance"=true
    B:"Only show update notice to Ops or SSP"=false
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Check Environment Sanity"=false
    B:"Attempt to Repair Environment Sanity"=false
    B:"Admins Bypass Permissions"=true
    B:"Use HashMap for Sound Categories - Only use if necessary"=true
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=false
    B:"Merge XP Orbs Like Items"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Biome Humidity Dependent Fire Spread"=true
    B:"Restrict profiling abilities to admins"=true
    S:"Bytecodeexec command user UUID whitelist" <
     >
    S:"Automatic Collection of Inventories; set to 'NULL' to disable"=LCTRL
    I:"AFK Timer Threshold (Seconds); Set to 0 to Disable"=120
    B:"Reroute Ender Eyes to Stronghold Entrances"=false
    I:"Expected Approximate Maximum World Size (Radius)"=5000
    I:"Expected Approximate World Center Location X"=0
    I:"Expected Approximate World Center Location Z"=0
    B:"Bytecodeexec command notifies other admins"=false
    B:"Player-Specific Mob Caps"=false
    B:"Allow charged certus to be recognized as normal certus ore"=false
    B:"Prevent block spreading near unloaded chunks"=true
    B:"Make bonemeal generate biome-correct foliage instead of tall grass"=true
    I:"Version Change Warning Level (0 = None, 1 = ReikaMods only, 2 = All)"=2
}


