# Hidden Items Filters
#
# Uses the same filter format at collapsibleitems.cfg
#
minecraft:portal
minecraft:end_portal
<minecraft:fire>
<minecraft:water>
<minecraft:lava>
minecraft:mob_spawner
minecraft:anvil !0
minecraft:flowing_water
minecraft:flowing_lava

# Copied from GTNH, licensed under CC BY-NC-SA 4.0
appliedenergistics2:item.ItemFacade !tag.itemname="stone" | appliedenergistics2:item.ItemFacade !tag.modid="minecraft"
transport:pipeFacade !tag.states.0.block="minecraft:stone"
ExtraUtilities:drum !tag.Fluid=
ExtraUtilities:microblocks !tag.mat="minecraft:stone"
ForgeMicroblock:microblock !tag.mat="minecraft:stone"

OpenBlocks:tank !tag.tank=
IC2:itemFluidCell !tag.Fluid=
WitchingGadgets:item.WG_CrystalFlask !tag.fluid=