# Configuration file

"energy - generation" {
    # Advanced Solar Panel Generation - Day [range: 1 ~ 2147483647, default: 8]
    I:"[1] advGenDay"=8

    # Advanced Solar Panel Generation - Night [range: 1 ~ 2147483647, default: 1]
    I:"[2] advGenNight"=1

    # Hybrid Solar Panel Generation - Day [range: 1 ~ 2147483647, default: 64]
    I:"[3] hybGenDay"=64

    # Hybrid Solar Panel Generation - Night [range: 1 ~ 2147483647, default: 8]
    I:"[4] hybGenNight"=8

    # Ultimate Solar Panel Generation - Day [range: 1 ~ 2147483647, default: 512]
    I:"[5] ultGenDay"=512

    # Ultimate Solar Panel Generation - Night [range: 1 ~ 2147483647, default: 64]
    I:"[6] ultGenNight"=64

    # Quantum Solar Panel Generation - Day [range: 1 ~ 2147483647, default: 512]
    I:"[7] quantGenDay"=512

    # Quantum Solar Panel Generation - Night [range: 1 ~ 2147483647, default: 64]
    I:"[8] quantGenNight"=64

    # Quantum Generator Default Packet Size [range: 1 ~ 2147483647, default: 512]
    I:quantumGeneratorDefaultPacketSize=512

    # Quantum Generator Default Energy Production [range: 1 ~ 2147483647, default: 512]
    I:quantumGeneratorDefaultProduction=512
}


"energy - storage" {
    # Advanced Solar Panel - Storage [range: 1 ~ 2147483647, default: 32000]
    I:"[1] advStorage"=32000

    # Hybrid Solar Panel - Storage [range: 1 ~ 2147483647, default: 128000]
    I:"[2] hybStorage"=128000

    # Ultimate Solar Panel - Storage [range: 1 ~ 2147483647, default: 1000000]
    I:"[3] ultStorage"=1000000

    # Quantum Solar Panel - Storage [range: 1 ~ 2147483647, default: 10000000]
    I:"[4] quantStorage"=10000000
}


"energy - tier" {
    # Advanced Solar Panel - Tier [range: 1 ~ 2147483647, default: 1]
    I:"[1] advTier"=1

    # Hybrid Solar Panel - Tier [range: 1 ~ 2147483647, default: 2]
    I:"[2] hybTier"=2

    # Ultimate Solar Panel - Tier [range: 1 ~ 2147483647, default: 3]
    I:"[3] ultTier"=3

    # Quantum Solar Panel - Tier [range: 1 ~ 2147483647, default: 4]
    I:"[4] quantTier"=4
}


"energy - transfer" {
    # Advanced Solar Panel - Transfer [range: 1 ~ 2147483647, default: 32]
    I:"[1] advTransfer"=32

    # Hybrid Solar Panel - Transfer [range: 1 ~ 2147483647, default: 128]
    I:"[2] hybTransfer"=128

    # Ultimate Solar Panel - Transfer [range: 1 ~ 2147483647, default: 512]
    I:"[3] ultTransfer"=512

    # Quantum Solar Panel - Transfer [range: 1 ~ 2147483647, default: 8192]
    I:"[4] quantTransfer"=8192
}


"recipes settings" {
    # Enable GT Alternative Recipe [default: false]
    B:GregTechRecipes=false

    # Disable Advanced Solar Helmet Recipe [default: false]
    B:advHelmetRecipe=false

    # Disable Advanced Solar Panel Recipe [default: false]
    B:advSolarRecipe=false

    # Disable Double Slab Recipe [default: false]
    B:doubleSlab=false

    # Enable Hard Recipes [default: true]
    B:hardRecipes=true

    # Disable Hybrid Solar Helmet Recipe [default: false]
    B:hybHelmetRecipe=false

    # Disable Hybrid Solar Panel Recipe [default: false]
    B:hybSolarRecipe=false

    # Disable Molecular Transformer Recipe [default: false]
    B:molecularTransformer=false

    # Disable Quantum Solar Panel Recipe [default: false]
    B:quantSolarRecipe=false

    # Enable Easy Recipes [default: false]
    B:simpleRecipes=false

    # Disable Ultimate Solar Helmet Recipe [default: false]
    B:ultHelmetRecipe=false

    # Disable Ultimate Solar Panel Recipe [default: false]
    B:ultSolarRecipe=false
}


